*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
  overflow-x: hidden;
}

.container-aside{

  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-top: 20px;
  position: absolute;
  top: 25em;
  margin-left: 10em;
  font-size: 20px;
}

button{
    width: 100px;
    height: 40px;
    border: none;
    color: black;
    background-color: white;
    font-size: 15px;
    margin-top: 15px;
 }

