
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a{
    color:  black;
    text-decoration:  none;
    margin: 0 15px;
    font-size: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-welcome{
    width: 100vw;
    padding: 5px;
    background-color: palevioletred;
    color: white;
    font-size: 20px;
    text-align: center;
    
}

img{
   overflow: hidden;
    background-size: cover;
}
