form {
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: double #808080 5px;
  }
  
  .header-contact {
    width: 100%;
    height: 6rem;
    background-color: #a0a3a8;
  }
  
  .header-contact > h2,
  .header-contact > p {
    color: #021330;
    text-align: left;
    padding: 0.5rem;
    font-size: 2rem;
    margin: 0;
  }
  
  .header-contact > p {
    font-size: 1rem;
  }
  
  .field-name,
  .field-email,
  .field-message {
    width: 90%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    color: #40506c;
    margin: 1rem;
  }
  
  .symbol-required::after {
    content: '*';
    color: #ff0000;
  }
  
  .field-message {
    height: 12rem;
  }
  
  .btn-send {
    width: 12rem;
    background-color: #3287f6;
  }
  
  .btn-send:hover,
  .btn-send:focus {
    background-color: #16dd08;
    color: #ffffff;
  }