* {
    margin: 0;
    padding: 0
}

.card-products {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.box-product {
    width: 50rem;
    border-radius: 20px;
    position: relative;
}

.name-product {

    font-size: 6em;
    color: white;

}

img {
    width: 100%;
    height: fit-content;

}

.info-center {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column
}